{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

<style>

    h6{ 
        color: #000;  
    }
    p{ 
        color: #000;  
    }

</style>

    <nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg navbar-dark bg-primary">

        <a class="navbar-brand ml-5 mb-3" href="/"><img style = "height: 90px;" src = "{% static 'mal.png' %}"></a>
    
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse mr-5" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" id = "imp_links">
                <form class="form-inline ml-5 my-2 my-lg-0 nav-right" method = "GET">
                    <input class="form-control mr-sm-2" name = "country" type="search" placeholder="Country's Code" aria-label="Search" data-toggle="tooltip" data-placement="left" title="Use country code(eg: in for India)">
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                </form>
            </ul>
        </div>

        </div>
    </nav>


    <div class = "container mt-5">
        <div class = "container row">
            <div class = "container col-lg-9">
                <h1 class = "display-3 mt-5 mb-5"> Daily News </h1>
            </div>
            <div class = "container-col-lg-2">
                <div class="dropdown show mt-5 mb-5">
                    <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    
                    <div class="dropdown-menu bg-info overflow-auto overflow-primary" aria-labelledby="dropdownMenuLink" style = "max-height: 150px;"> 
                        <a class="dropdown-item" href="{% url 'home' %}?category=bussiness" name = "category">Bussiness</a>
                        <a class="dropdown-item" href="{% url 'home' %}?category=entertainment" name = "category">Entertainment</a>
                        <a class="dropdown-item" href="{% url 'home' %}?category=general" name = "category">General</a>
                        <a class="dropdown-item" href="{% url 'home' %}?category=health" name = "category">Health</a>
                        <a class="dropdown-item" href="{% url 'home' %}?category=science" name = "category">Science</a>
                        <a class="dropdown-item" href="{% url 'home' %}?category=sports" name = "category">Sports</a>
                        <a class="dropdown-item" href="{% url 'home' %}?category=technology" name = "category">Technology</a>
                    </div>
                </div>           
            </div>
        </div>

        {% for qs in articles %}
        <a target = blank href = "{{qs.url}}">
            <div class = "container border rounded shadow p-3 mb-4" id = "gen">

                <div class = "container row">
                    <div class = "col-lg-10">
                        
                        <h6>{{qs.title}}</h6>
                        
                        <div class = "row"> 
                            <div class = "col">
                                <p style =  "float: left; margin-top: 20px; font-size: 15px;"> <b><u>Posted on</u></b> : {{qs.publishedAt}} </p>
                            </div>
                            <div class = "col">
                                <p style =  "float: left; margin-top: 20px; font-size: 15px;"> <b><u>Source</u></b> : {{qs.source.name}} </p>
                            </div>    
                        </div>
                    </div>
                    <div class = "col-lg-2">
                        
                        <img src = "{{qs.urlToImage}}" height = 100>

                    </div>
                    
                </div>
            </div>
        </a>
        {% endfor %}
 
    </div>

{% endblock %}